
.App {
  text-align: center;
}

.home-page {
  height: 100vh;
  background-color: bisque;
}

.search-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.search {
  padding: 0 1em 0 1em;
}