
.App {
  text-align: center;
}
/* Home */
.home-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/kitchen.jpg");
  background-size: cover;
}

.header {
  margin: 10%;
  font-size: 5em;
  color: #162447;
  font-family: 'Frank Ruhl Libre', serif;
}

/* Search */
.search-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
  align-items: center;
}

.search {
  padding: 0 1em 0 1em;
  position: relative;
  display: flex;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.input{
  min-width: 300px;
  min-height: 1.5rem;
  border-radius: 5px;
  border: 1px solid grey;
  outline: 0;
  background-color: whitesmoke;
  font-size: 1rem;
}

.label {
  padding: 15px;
  font-size: 2rem;
  color: #162447;
}

.submit-btn {
  background-color: #1b1b2f;
  border-radius: 5px;
  font-size: 1.5em;
  border: 1px solid whitesmoke;
  color: whitesmoke;
}

/* businessList */

.bizList {
  display: flex;
  flex-direction: column;
  background-color: #ececec;
  font-family: 'Noto Sans JP', sans-serif;
  color: #222831;
  
}
.link{
  text-decoration: none;
}

.bizCard {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.bizTitle, .bizAddress, .bizPrice, .bizRating {
  color: #222831;
}

hr {
  width: 100px;
  border-top: 2px dotted #30475e;
}

/* Business Details */

.back {
  background-color: #30475e;
  border-radius: 5px;
  font-size: 1em;
  border: 1px solid black;
  color: #c1a57b;
  margin: 15px;
}

.bizPage {
  background-color: #ececec;
  height: 100vh;
}

.buisnessDetails {
}

.bizName {
  font-size: 2rem;
  font-family: 'Noto Sans JP', sans-serif;
  
}
